.presentationContainer{
    width: 80vw;
    height: 100vh;
    font-size: 24px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.presentationContainer p{
    height: 50%;
}

@media only screen and (max-width:850px){
    .presentationContainer{
        margin-top: 100px;
    }
    
    .presentationContainer p{
        height: 100%;
        margin: 200px auto 0px;
        overflow: scroll;
    }
}