.titleContainer{
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
    color: red;
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 0px 50px rgba(255, 0, 0, 0.5), 0px 0px 10px rgba(150, 0, 0, 1);
    margin: auto;
}

.neon{
    animation: flicker 1.5s infinite alternate
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
        0 0 4px coral,
        0 0 11px coral,
        0 0 19px coral,
        0 0 40px red,
        0 0 80px red,
        0 0 90px red,
        0 0 100px red,
        0 0 150px red;
    
    }
    20%, 24%, 55% {        
        text-shadow: none;
    } 
}


