body {
  margin: 0;
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Cinzel Decorative', cursive;
}

section{
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: 0px;
  padding: 0px;
}

section h2{
  font-family: 'Cinzel Decorative', cursive;
}
